<div class="PageTitle">Bipedal Bot</div>
<% if (locals.title) { -%>
<%- include('partials/pageSubTitle', {title: locals.title}) %>
<% } %>
<%_ if (locals.loggedIn) { -%>
<%- include('partials/userLoginStatus', locals.user) %>
<%_ } -%>
<ul class="MenuBar">
	<% if (locals.menu) { %>
	<% locals.menu.forEach(function(menuitem) { %>
	<li<% if (menuitem.active) { %> class="active"<% } %>><a href="<%= menuitem.url %>"><%= menuitem.name %></a></li>
	<% }) %>
	<% } %>
</ul>